@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #222424; 
    font-family: 'Arial', sans-serif; 
    color: #fff; 
    background-image: url('../public/images/clearScore_Background.png');
  }
  
  